/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0; padding:0;}
p {margin: 0;}
html, body{
	font-family: 'OpenSans-Regular';
	font-size: 100%;
	background: #ffffff;
}
a:focus {
    outline: none!Important;
    outline:none!Important;
    outline-offset:0px!Important;
}
@font-face {
   font-family: 'OpenSans-Regular';
   src: url(../fonts/OpenSans-Regular.ttf)format('truetype');
}
@font-face {
   font-family: 'Exo2-Medium';
   src: url(../fonts/Exo2-Medium.ttf) format('truetype');
}

h1.b1, h2.b2, h3.b3 {
  margin-bottom: 25px;
  display: block;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.row{
	margin:0;
}	
a#toTop{
  margin-top: 0;
}
.breadcrumb{
	margin:2em 0;
	text-align:left;
}
/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
/*-- header_top --*/
.header{
	background:#2D2D2D;
	padding:6px 0;
}
.headr-left{
	float:left;
	width:85%;
}
.social{
	float:left;
}
.social i {
width: 27px;
height: 27px;
background: url('../images/social.png') no-repeat 0px 0px;
display: inline-block;
margin:0 5px;
}
a i.facebook{
background-position:-3px -2px;
}
a i.twitter{
background-position: -43px -3px;
}
a i.dribble{
background-position: -83px -3px;
}
a i.google{
background-position:-126px -2px
}
a i.youtube{
background-position:-167px -3px;
}
a i.facebook:hover{
background-position:-3px -36px;
}
a i.twitter:hover{
background-position: -43px -36px;
}
a i.dribble:hover{
background-position: -83px -36px;
}
a i.google:hover{
background-position:-126px -36px
}
a i.youtube:hover{
background-position:-167px -36px;
}

.details {
    float: left;
	padding-top: 3px;
}
.headr-right {
  float: left;
}
.details ul li{
	display:inline-block;
	padding:0.3em 0em 0.3em 1em;
}
.details ul li:nth-child(1){
	margin-right:3em;
}
.details ul li{
	color:#fff;	
	text-decoration:none;
	font-size:0.9em;
}
.details ul li a{
	color:#fff;	
	text-decoration:none;
	font-size:0.9em;
}
.details ul li a:hover{
	color:#009944;
}
.glyphicon-earphone:before,.glyphicon-envelope:before  {
  font-size:13px;
  margin-right:5px;
}
.glyphicon{
    display:inline-block!important;
}


/*--banner--*/
.banner{
	background:url(../images/bnr.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:640px;
}
.banner-info{
	text-align: center;
    background: rgba(255, 255, 255, 0.52);
    padding: 3em 2em;
    margin-top: 5em;
}
.banner-info h2{
	font-size:2.3em;
	color: #2f3e37;
	text-transform:uppercase;
	font-family: 'Exo2-Medium';
}
.banner-info h3{
	font-size:1.2em;
	color: #2f3e37;
	margin-top:25px;
	text-transform:uppercase;
}

.banner-info h4{
    font-size:1em;
    color: #2f3e37;
    margin-top:25px;
    text-transform:uppercase;
}

.banner-logo {

}
.banner-logobar {
    margin-top: 1.5em;
}

.banner-info a{
	font-size:1em;
	color:#fff;
	margin:3em auto 0em auto;
	padding:0.5em 3em;
	background:#009944;
	border:2px solid #009944;
    width: 180px;
    display: block;


}
.banner-info a:hover{
	background:transparent;
	border:2px solid #009944;
    color: #009944;
}
/*--top-nav--*/
.logo {
    float: left;
}
.logo h1 {
    margin: 0;
}
.logo h1 a{
    display: block;
    font-family: 'Mandali-Regular';
    font-size: 1.4em;
    color: #FFF;
    text-decoration: none;
}
.top-nav {
    text-align: center;
    background-color: #2C302F;
    padding: 1em 0;
    z-index: 999;
}
nav.navbar.navbar-default {
    background-color: inherit;
    border: none;
    margin: 0;
}
div#bs-example-navbar-collapse-1 {
    float: right;
}
.top-nav ul li {
    display: inline-block;
    margin: 0 1.3em !important;
    float: none;
}	
.top-nav ul li:nth-child(1){
	margin-left:0;
}
.top-nav ul li:nth-child(7){
	margin-right:0;
}
.navbar-nav {
    float: right;
    margin: 1em 0 0 0;
}
.navbar-nav > li > a {
    padding: 0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .top-nav ul li  a.active:before {
    color: #009944;
}
ul.dropdown-menu {
    background: #2C302F;
    box-shadow: 0 0 0;
    border: none;
    margin: 0;
    top: 2.9em;
    left: 0;
    min-width: 100px;
    padding: 1em 0 0 0;
}
.dropdown-menu > li {
    text-align: left;
    display: block !important;
}
.dropdown-menu > li > a {
    display: block;
    padding: 0px !important;
    clear: both;
    margin: 1em !important;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFF !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: none;
	color: #009944 !important;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
    left: 100%;
    margin-top: -5px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.caret {
    margin-left: 9px;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #FFF;
    background: none;
}
.top-nav ul li a.active {
    color: #009944 !important;
    background: none !important;
}
/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
.top-nav ul li a {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1em;
    font-family: 'Mandali-Regular';
}
.top-nav ul li a:hover,
.top-nav ul li a:focus {
	outline: none;
}
.cl-effect-15 a::before {
	color: #000000;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    left: 0;
}
/*--//top-nav--*/

/*--welcome--*/
.welcome{
	padding:3em 0 ;
}

.welcm-left h3{
	font-size: 3em;
    color:#009944;
    font-family: 'Exo2-Medium';
    margin-top:0.8em;
}

.welcm-left h4{
    font-size:1.2em;
    color: #009944;
    text-align: left;
    margin-top: 0.5em;
}

.welcm-left h5{
	font-size: 1.3em;
    color: #333;
    font-family: 'Exo2-Medium';
	margin:1em 0;
}
.welcm-left p{
	color:#999;
	font-size:0.9em;
	line-height:1.8em;
}
.welcm-right {
    padding: 0 0 0 3em;
}
.welcm-right h3{
	color: #333;
    font-size: 2em;
   font-family: 'Exo2-Medium';
}

.welcm-right h5{
    font-size: 1.3em;
    color: #333;
    font-family: 'Exo2-Medium';
    margin:1em 0;
}

.welcm-right img {
    margin: 2em 0 1em 0;
}
.welcm-right p{
	color:#999;
	font-size:0.9em;
	line-height:1.8em;
	margin-top:2em;
}
p.text{
	margin-top:1em;
}

p.info{
	margin-top:0;
}

/*-- services --*/
.services{
    padding: 4em 0 4em 0 ;
    background: #F5F5F5;
}
.services-info h3{
	font-size: 3em;
    color:#009944;
    font-family: 'Exo2-Medium';
	text-align:center;
    margin-top:0.8em;
}

.services-info h4{
    font-size:1.2em;
    color: #009944;
    text-align: center;
    margin-top: 0.5em;
}

.services-grids {
    margin-top: 4em;
}
.services-grid{
	text-align:center;
    height:240px;
	margin-bottom: 3em;
}
.services-icon {
    background: #dfdfdf;
    width: 100px;
    height: 100px;
    line-height: 7.5em;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}
.glyphicon-asterisk {
    font-size: 2em;
    color: #ffffff;
}
.services-grid h4{
	color: #000;
    font-size: 1em;
    font-weight: 600;
    margin: 2em 0 1em;
}
.services-grid p{
	color:#777;
	font-size:.9em;
	margin:0;
	line-height:2em;
}

.services-grid span {
    color: #000;
    font-size: 2.4em;
    text-align: center;
    margin: 0;
    padding: .4em 0 0 0;
    line-height: 1.2em;
}

.services-grid:hover div.services-icon {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
/*-- flexisel --*/
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
    display: none;
}
.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
}
.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}
.nbs-flexisel-inner {
    overflow: hidden;
    margin: 0 auto;
}
.nbs-flexisel-item {
    float: left;
    margin:0px;
    padding:0px;
    cursor: pointer;
    position: relative;
    line-height: 0px;
}
.nbs-flexisel-item > img {
    cursor: pointer;
    positon: relative;
    margin-top:5px;
    margin-bottom: 10px;
    max-width:240px;
    max-height:240px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
}
.nbs-flexisel-item p{
    padding:0px;
}
.nbs-flexisel-item p a{
    color:#000;
    font-size:1.2em;
}
.nbs-flexisel-item p a:hover{
    color:#6CC372;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    margin-top:0em;
}
.nbs-flexisel-nav-left {
    left:-2em;
    background: url(../images/lef.png) no-repeat 1px 1px;
}
.nbs-flexisel-nav-right {
    right:-2em;
    background: url(../images/righ.png) no-repeat 1px 1px;
}

/*-- flexisel --*/


.brands{
    padding: 4em 0 4em 0 ;
    background: #ffffff;
}

.brand {
    padding: 3em 0 3em 0;
}

.brands-info h3{
    font-size: 3em;
    color:#009944;
    font-family: 'Exo2-Medium';
    text-align:center;
    margin-top:0.8em;
}

.brands-info h4{
    font-size:1.2em;
    color: #009944;
    text-align: center;
    margin-top: 0.5em;
}

/*--contact--*/
.contact {
    background: #FFFFFF;
    padding-bottom: 2em;
    margin-top: 4em;
}

.contact-top h3{
    font-size: 3em;
    color:#009944;
    font-family: 'Exo2-Medium';
    text-align:center;
    margin-top:0.8em;
}

.contact-top h4{
    font-size:1.2em;
    color: #009944;
    text-align: center;
    margin-top: 0.5em;
}

.contact-top{
    text-align:center;
    padding-bottom: 4em;
}

.contact-top p{
    font-size: 1.1em;
    color: #444444;
    line-height: 1.8em;
    font-family: 'Exo2-Medium';
}

.contact-form input[type="text"] ,.contact-form textarea{
    font-size: 1em;
    width: 100%;
    padding: 0.6em;
    margin: 1em 0;
    outline: none;
    background: none;
    color: #2f3e37;
    border: 1px solid #cecece;
    display: block;
}
.contact-form textarea{
    resize:none;
    width: 100%;
    min-height: 170px;
    display: block;
}

.contact-form input[type="submit"]{
    font-size:1em;
    color:#fff;
    margin:3em auto 0em auto;
    padding:0.5em 3em;
    background:#009944;
    border:2px solid #009944;
    width: 180px;
    display: block;
}
.contact-form input[type="submit"]:hover{
    background:transparent;
    border:2px solid #009944;
    color: #009944;
}

.contact-para p {
    margin-top: 0.5em;
    color: #999999
}

.map iframe{
    width:100%;
    border:none;
    min-height: 400px;
}
.map {
    margin-top: 5em;
}
.contact-para p {
    color: #787878;
    font-size:.9em;
    margin-top:1em;
}
.address-more h4{
    color:#000;
    font-size: 1.5em;
    font-family: 'Exo2-Mediu';
    margin: 1em 0 0.3em;
}

.address-more p {
    color: #787878;
    font-size: 0.7em;
}

.footer {
    background: #3c3c3c;
    padding: 3em 0;
}
.footer h3 {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 1em;
}

.footer p {
    color: #c0c0c0;
    font-size: 1em;
    font-weight: 400;
    line-height:1.8em;
}
.foot-bottom p {
    color: #747474;
    font-size: 1em;
    margin: 1em 0 0;
    text-align: center;
}
.foot-bottom a{
    color: #747474;
    text-decoration:none;
}
.foot-bottom a:hover{
    color: #009944;
}

.copywrite {
    text-align: center;
    padding-top: 6px;
}
.copywrite p{
    color: #999;
    font-size: 0.9em;
}
.copywrite p a {
	color: #999;
}
.copywrite p a:hover{
	color:#009944;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 14px;
	right: 3%;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top1.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*--responsive--*/
@media (max-width: 1440px){
}
@media (max-width: 1366px){
}
@media (max-width: 1280px){
.logo {
    left: 37%;
}
}
@media (max-width: 1080px){
.top-menu ul li a {
    padding: 0.7em 0.3em;
    margin: 0 0.4em;
}
.logo {
    left: 35%;
}
.banner {
    background: url(../images/bnr.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 507px;
}
.contact-grids input[type="text"] {
    width: 29.5%;
}
.banner-info h2 {
    font-size: 2em;
}
.banner-info {
    padding: 2em 2em;
    margin-top:9em;
}
.welcm-left h4 {
    font-size: 1.2em;
}
.welcm-right h3 {
    font-size: 1.8em;
}
.welcm-left p,.welcm-right p,.service-box p{
	font-size:0.85em;
}
.service-box p {
    width: 89%;
}
.services h3, .gallery-info h3, .team h3, .contact h3,.testi-top h3{
    font-size: 2.6em;
}
}
@media (max-width: 1024px){
.logo {
    left: 34.5%;
}
.contact-grids input[type="text"] {
    width: 29.4%;
}
.contact-grid:nth-child(2) {
    margin: 0 3.5em;
}
.headr-left {
    float: left;
}
}
@media (max-width: 991px){
.logo h1 a {
    font-size: 1em;
}
.top-menu ul li a {
    padding: 0.7em 0em;
    margin: 0 0.5em;
}
.logo {
    left: 36%;
    top: 24%;
}

    .banner-logo {
        width:80%;
        height: 80%;
    }
    .banner-logobar {
        width:80%;
        height: 80%;
    }

.welcm-left h3 {
    font-size: 2.6em;
}

.welcome {
    padding: 2em 0 3em;
}
.welcm-left {
    padding: 0;
}
.welcm-right {
    padding: 2em 0 0 0em;
}
.service-box p {
    width: 56%;
}
.service-box {
    margin-bottom: 2em;
}
.specialty-grids-top:nth-child(2) {
    margin-top: 3em;
}
.services {
    padding-bottom: 1em;
}

}
@media (max-width: 966px){
.top-menu ul li:nth-child(3) {
    margin-right: 17em;
}
}
@media (max-width: 900px){
.top-menu ul li a {
    margin: 0 0.1em;
}	
}
@media (max-width: 853px){
.top-menu ul li:nth-child(3) {
    margin-right: 15em;
}
}
@media (max-width: 800px){
.headr-left {
    width:83%;
}
span.menu{
	display: block;
  text-align: right;
  padding-bottom: 0.5em;
  cursor: pointer;	
  position:relative;
}
.top-menu span.menu{
	display:block;
	color:#fff;
	font-size:1.1em;
	font-weight:600;
}
.top-menu {
	float: right;
	    margin: 1em 0;
}
.top-menu  ul{
	display:none;
}
.top-menu  ul li {
	font-size: 12px;
	display:inline-block;
	width: 100%;
	margin:0;
}
.top-menu ul li a {
	padding:12px 0;
	font-size: 1.2em;
	width: 100%;
	margin:0;
}
.top-menu  ul{
	margin: 0;
	z-index: 999;
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0%;	
	background:#333;
	    padding: 10px 0;
}
.logo {
    left: 36%;
    top: 12%;
}

    .banner-logo {
        width:80%;
        height: 80%;
    }
    .banner-logobar {
        width:80%;
        height: 80%;
    }

.banner {
    min-height: 392px;
}
.banner-info h2 {
    font-size: 1.7em;
}
.banner-info h3 {
    font-size: 0.9em;
    margin-top: 19px;
}
.banner-info a {
    font-size: 0.9em;
    margin-top: 2em;
    padding: 0.4em 2em;
}
.banner-info {
    padding: 2em;
    margin-top: 6em;
}
.details ul li:nth-child(1){
    margin-right: 2em;
}
.welcm-left h3 {
    font-size: 2em;
}
.welcm-left h4 {
    font-size: 1em;
}
.welcm-left p, .welcm-right p, .service-box p {
    font-size: 0.8em;
}
.welcm-right h3 {
    font-size: 1.4em;
}
.welcm-right img {
    margin: 1em 0 0;
}
.welcm-right p {
    margin-top: 1em;
}
.services h3, .gallery-info h3, .team h3, .contact h3,.testi-top h3{
    font-size: 2em;
}
.specialty-grids-top:nth-child(2) {
    margin-top: 2em;
}
.service-box h5 {
    font-size: 1.2em;
}

.map iframe {
    height: 320px;
}
.top-menu ul li:nth-child(3) {
    margin-right: 0;
}

}
@media (max-width: 768px){
}
@media (max-width: 640px){
.headr-left {
    width: 79%;
}
}
@media(max-width:480px){
.headr-left {
    width: 77%;
}
.details ul li a,.details ul li{
    font-size: 0.8em;
}
.social i {
    margin: 0 1px;
}
.details ul li:nth-child(1) {
    margin-right: 0em;
}
.logo h1 a {
    font-size: 0.9em;
}
.logo {
    left: 27%;
    top: 12%;
}

    .banner-logo {
        width:70%;
        height: 70%;
    }
    .banner-logobar {
        width:70%;
        height: 70%;
    }

.banner-info h2 {
    font-size: 1.5em;
    line-height: 1.4em;
}
.banner-info h3 {
    font-size: 0.8em;
    margin-top: 8px;
}
.banner {
    min-height: 316px;
}
.banner-info {
    padding: 2em;
    margin-top: 3em;
}
.welcm-left h3 {
    font-size: 1.7em;
}
.welcome {
    padding: 1em 0 2em;
}
.welcm-right {
    padding: 1em 0 0 0em;
}
.welcm-right h3 {
    font-size: 1.2em;
}
.services h3, .gallery-info h3, .team h3, .contact h3, .testi-top h3 {
    font-size: 1.7em;
}
.service-box p {
    width: 100%;
}

}
@media(max-width:320px) {
    .details ul li {
        padding: 0.3em 0em 0.3em 0.5em;
    }

    .headr-left {
        width: 100%;
    }

    .social {
        float: none;
    }

    .headr-right {
        float: none;
        text-align: center;
    }

    .logo {
        left: 15%;
        top: 12%;
    }

    .logo h1 a {
        font-size: 0.8em;
    }

    .banner-info {
        padding: 1em;
        margin-top: 3em;
    }

    .banner-info h2 {
        font-size: 1em;
    }

    .banner-info h3 {
        font-size: 0.7em;
    }

    .banner-info a {
        font-size: 0.8em;
        margin-top: 2em;
        padding: 0.3em 2em;
    }

    .banner {
        min-height: 240px;
    }

}

}